@model NovoProjetoCrianca.Models.Visita

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Visita</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           
            <div class="form-group">
                <label asp-for="assistenteSocialID" class="control-label">Assistente Social</label>
                <select asp-for="assistenteSocialID" class="form-control" asp-items="ViewBag.assistenteSocialID">
                    <option value="">Selecione um Assistente Social</option>
                </select>
                <span asp-validation-for="assistenteSocialID" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <label asp-for="dadofamiliaID" class="control-label">Dado da Família</label>
                <select asp-for="dadofamiliaID" class="form-control" asp-items="ViewBag.dadofamiliaID">
                    <option value="">Selecione um Dado da Família</option>
                </select>
                <span asp-validation-for="dadofamiliaID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataAtendimento" class="control-label">Data do Atendimento</label>
                <input asp-for="DataAtendimento" class="form-control" type="date" />
                <span asp-validation-for="DataAtendimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="observacao" class="control-label">Observação</label>
                <textarea asp-for="observacao" class="form-control"></textarea>
                <span asp-validation-for="observacao" class="text-danger"></span>
            </div>

          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
