@model NovoProjetoCrianca.Models.Atendimento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Filtrar Atendimentos</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="ResFiltrarAtendimento">


            <div class="form-group">
                <label for="idAluno">Informe o ID do Atendimento</label>
                <input type="text" id="idAssistente" name="id" class="form-control" placeholder="Digite o ID do aluno" />
            </div>
            <br />

            <div class="form-group">
                <label for="idAluno">Informe o Nome do Assistente Social:</label>
                <input type="text" id="idAssistente" name="nomeAssistente" class="form-control" placeholder="Digite o nome do aluno" />
            </div>
            <br />

            <div class="form-group">
                <label for="idAluno">Informe o dado da familia:</label>
                <input type="text" id="idAssistente" name="dadoFamilia" class="form-control" placeholder="Digite o nome do aluno" />
            </div>
            <br />


            

            <div class="form-group text-center">
                <input type="submit" value="Filtrar" class="btn btn-success btn-lg" />
            </div>
            <br />
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar para a Lista</a>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
