@{
    ViewData["Title"] = "Politicas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nós, da Casa da Criança, nos comprometemos a proteger a sua privacidade e garantir que suas informações pessoais sejam tratadas de maneira segura e responsável. </p>
<p>Esta Política de Privacidade explica como coletamos, usamos, armazenamos e protegemos seus dados pessoais ao acessar e usar o nosso site.</p> 
<p><strong class="subtitulo">1. Informações que Coletamos</strong></p>
<p>Coletamos informações pessoais que você nos fornece voluntariamente quando interage com o nosso site, como ao preencher formulários, se inscrever em newsletters ou realizar compras. As informações podem incluir:</p>
<p>-Nome</p>
<p>-E-mail</p>
<p>-Numero de telefone</p>
<p><strong class="subtitulo">2. Como Usamos Suas Informações</strong></p>
<p>As informações que coletamos são usadas para os seguintes fins:</p>
<p>-Responder duvidas ou solicitações</p>
<p>-Cumprir com requisitos legais ou regulatorios</p>
<p><strong class="subtitulo">3. Compartilhamento de Informações</strong></p>
<p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para:</p>
<p>-Cumprir com obrigações legais (por exemplo, em resposta a ordens judiciais ou investigações)</p>
<p>-Fornecer serviços contratados (como empresas de entrega ou marketing)</p>
<p><strong class="subtitulo">4. Proteção de dados</strong></p>
<p>Adotamos medidas de segurança técnicas e administrativas para proteger suas informações pessoais contra acessos não autorizados, uso indevido, alteração ou destruição. No entanto, nenhuma transmissão de dados pela internet é 100% segura, e não podemos garantir a segurança absoluta das suas informações.</p>
<p><strong class="subtitulo">5. Alterações de politicas de privacidade</strong></p>
<p>Podemos atualizar esta Política de Privacidade periodicamente. Alterações significativas serão informadas por meio de aviso em nosso site. Recomendamos que você consulte esta página regularmente para estar ciente das atualizações.</p>

