@model NovoProjetoCrianca.Models.Curso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Course</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          
            <div class="form-group">
                <label asp-for="nome" class="control-label">Nome do Curso</label>
                <input asp-for="nome" class="form-control" placeholder="Digite o nome do curso" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="descricao" class="control-label">Descrição do Curso</label>
                <textarea asp-for="descricao" class="form-control" rows="4" placeholder="Descreva o curso"></textarea>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

         
            <div class="form-group">
                <label asp-for="periodo" class="control-label">Período</label>
                <select asp-for="periodo" class="form-control" asp-items="Html.GetEnumSelectList<NovoProjetoCrianca.Enum.Periodo>()">
                    <option value="">Selecione o Período</option>
                </select>
                <span asp-validation-for="periodo" class="text-danger"></span>
            </div>

          
            <div class="form-group">
                <label asp-for="CargaHoraria" class="control-label">Carga Horária</label>
                <input asp-for="CargaHoraria" class="form-control" placeholder="Informe a carga horária" />
                <span asp-validation-for="CargaHoraria" class="text-danger"></span>
            </div>

     
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
