@model NovoProjetoCrianca.Models.PerfilSocioEconomico

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adicionar Perfil Socioeconômico</h1>

<h4>Perfil Socioeconômico</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            
            <div class="form-group">
                <label asp-for="dadofamiliaID" class="control-label">Dado da Família</label>
                <select asp-for="dadofamiliaID" class="form-control" asp-items="ViewBag.dadofamiliaID">
                    <option value="">Selecione um Dado da Família</option>
                </select>
                <span asp-validation-for="dadofamiliaID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="rendafamilia" class="control-label">Renda da Família</label>
                <input asp-for="rendafamilia" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="rendafamilia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="situacaofamilia" class="control-label">Situação da Família</label>
                <select asp-for="situacaofamilia" class="form-control">
                    <option value="Desabrigado">Desabrigado</option>
                    <option value="Pobreza">Pobreza</option>
                    <option value="Media Baixa">Media Baixa</option>
                </select>
                <span asp-validation-for="situacaofamilia" class="text-danger"></span>
            </div>

      
            <div class="form-group">
                <label asp-for="profissaoPai" class="control-label">Profissão do Pai</label>
                <input asp-for="profissaoPai" class="form-control" />
                <span asp-validation-for="profissaoPai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="profissaoMae" class="control-label">Profissão da Mãe</label>
                <input asp-for="profissaoMae" class="form-control" />
                <span asp-validation-for="profissaoMae" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
