@model NovoProjetoCrianca.Models.PerfilSocioEconomico

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Perfil Socio Econômico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="dadofamiliaID" class="control-label"></label>
                <select asp-for="dadofamiliaID" class="form-control">
                    <option value="0">Pobreza</option>
                    <option value="1">Abandono</option>
                </select>
                <span asp-validation-for="dadofamiliaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rendafamilia" class="control-label"></label>
                <input asp-for="rendafamilia" class="form-control" />
                <span asp-validation-for="rendafamilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="situacaofamilia" class="control-label"></label>
                <select asp-for="situacaofamilia" class="form-control">
                    <option value="Desabrigado">Desabrigado</option>
                    <option value="Pobreza">Pobreza</option>
                    <option value="Media Baixa">Media Baixa</option>
                </select>
                <span asp-validation-for="situacaofamilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profissaoPai" class="control-label"></label>
                <input asp-for="profissaoPai" class="form-control" />
                <span asp-validation-for="profissaoPai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profissaoMae" class="control-label"></label>
                <input asp-for="profissaoMae" class="form-control" />
                <span asp-validation-for="profissaoMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
